.buttonsContainer {
}

.responseContainer {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.imageContainer {
}

.image {
}

.textContainer{
	margin-left: 30px;
	width: 400px;
}

.code {
		font-size: 30px;
		font-weight: 500;
		margin-bottom: 10px;
}

.text {
	font-size: 16px;
}
.info {
	font-size: 16px;
}