.sendForm {
	display: flex;
	margin: 20px;
	height: 40px;
}

.textarea {
	width: 100%;
	margin-right: 15px;
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
	resize: none;
	background-color: #F5F7FB;
	font-family: "Montserrat" ;
	border: none;
	box-shadow: -1px 1px 2px rgb(100, 100, 100);
}

.button {
	background-color: #0066CC;
	border-radius: 15px;
	padding: 3px;
	border: none;
	height: 36px;
}

.button:hover {

}
.button:active {

}
