@import '../../../hw15/common/c9-SuperPagination/SuperPagination.module.css';

.select {
	width: 165px;
		height: 24px;
		flex-shrink: 0;
		border-radius: 2px;
			border: 1px solid #b7b7b7;
}

.select:focus {
}


.option:hover {
}
